<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @catch_copy .each do |catch_copy | %>
    <div class="content_post" style="background-image: url(<%= catch_copy.image %>);">
      <%= simple_format(catch_copy.job_category ) %>
      <%= simple_format(catch_copy.target) %>
      <span class="title">
        <%= catch_copy.title %>
    </div>
  <% end %>
</div>