<div class="contents row">
  <div class="container">
    <h2>Log in</h2>

    <div class="guestbtn">
      <%= link_to '新規登録', new_user_registration_path, class: 'guest' %>
      <%= link_to 'ゲストログイン', catch_copies_guest_sign_in_path, method: :post, class: 'guest' %>
    </div>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>