<div class="content_post">
  <div class="more">
    <span><%= image_tag '/arrow_top.png'%></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', "/catch_copies/#{catch_copy.id}", method: :get %>
      </li>
        <li>
          <%= link_to '編集', "/catch_copies/#{catch_copy.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/catch_copies/#{catch_copy.id}", method: :delete %>
        </li>
    </ul>
  </div>

  <%= link_to("/catch_copies/#{catch_copy.id}") do %>
  <%= image_tag(catch_copy.image,class: 'image') %>
  <% end %>

  <span class="title">
  <%= link_to("/catch_copies/#{catch_copy.id}") do %>
    <%= catch_copy.title %>
  <% end %>
  </span>

  <div class="job_commuting">
  <span>勤務地：</span>
  </div>
  <%= simple_format(catch_copy.commuting,class: 'job_commuting_min') %>

  <div class="job_pay">
  <span>給与：</span>
  </div>
  <%= simple_format(catch_copy.pay,class: 'job_pay_value') %>

  <div class="job_shuift">
    <span>勤務時間：</span>
  </div>
   <%= simple_format(catch_copy.shift,class: 'job_shift_time') %>

  <div class="job_category">
    <span>職種：</span>
  </div>
  <%= simple_format(catch_copy.job_category,class: 'job_name') %>

  <div class="target">
    <span>ターゲット：</span>
  </div>
  <%= simple_format(catch_copy.target,class: 'target_name') %>

  <span class="name">
  <span>投稿者</span><%= catch_copy.user.nickname %>
  </span>

  <div class ="<%= catch_copy.id %>">
      <%= render partial: 'catch_copies/like', locals: { catch_copy: catch_copy } %>
  </div>
</div>
