 <% if user_signed_in? %>
  <%= form_tag("/catch_copies/search", local: true, method: :get, class: "search-form") do %>
    <%= text_field_tag "keyword",'', {placeholder: "投稿を検索する", class: "search-input"} %>
    <%= submit_tag "検索", class: "search-btn" %>
  <% end %>
  
   <div class="latest" >最新記事一覧   |
   <%= link_to 'ランキング順に変更', catch_copies_ranking_path, method: :post, class:"ranking" %>
  </div>
  <div class="contents row">
    <% @catch_copies.each do |catch_copy| %>
      <%= render partial: "catch_copy", locals: { catch_copy: catch_copy } %>
    <% end %>
    <%= paginate(@catch_copies) %>
  </div>
<% else %>
    <div class="top_rapper">
      <h1 class="masthead-heading">BestYourTitle</h1>
      <h3 class="masthead-subheading">「応募したい！」と思うキャッチコピーを作ってみよう</h3>
      <a class="btn btn-primary btn-xl" href="/users/sign_up">新規登録</a>
    </div>
<% end %>