 <% if user_signed_in? %>
  <%= form_tag("/catch_copies/search", local: true, method: :get, class: "search-form") do %>
    <%= text_field_tag "keyword",'', {placeholder: "投稿を検索する", class: "search-input"} %>
    <%= submit_tag "検索", class: "search-btn" %>
  <% end %>
  
   <div class="latest" >最新記事一覧   |
   <%= link_to 'ランキング順に変更', catch_copies_ranking_path, method: :post, class:"ranking" %>
  </div>
  <div class="contents row">
    <% @catch_copies.each do |catch_copy| %>
      <%= render partial: "catch_copy", locals: { catch_copy: catch_copy } %>
    <% end %>
    <%= paginate(@catch_copies) %>
  </div>
<% else %>
    <h1 class="masthead-heading">BestYourTitle</h1>
    <div class="masthead-subheading">「応募したい！」と思うキャッチコピーを作ってみよう</div>
    <a class="btn btn-primary btn-xl" href="/users/sign_up">新規登録</a>

  <div class="faq-wrapper">
    <div class="container">
      <div class="heading">
        <h2>FAQ</h2>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">Progateの公式キャラクターはなんですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>にんじゃわんこといいます。忍者の格好をしたわんこです。ネコではありません。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">にんじゃわんこはオスですか？それともメスですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>にんじゃわんこはオスです。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">にんじゃわんこは何歳ですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>にんじゃわんこは14歳です。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

<% end %>