<div class="contents row">
  <div class="container">
    <%= form_with(model: @catch_copy, local: true) do |f| %>
      <h3>
        投稿する
      </h3>
      <%= f.text_field :title, placeholder: "画像に合うキャッチコピーを入力してください", autofocus: true %>
      <%= f.text_field :job_category, placeholder: "お仕事内容を入力してください", autofocus: true %>
      <%= f.text_field :target, placeholder: "キャッチコピーのターゲットを入力してください", autofocus: true %>
      <%= f.text_field :image, placeholder: "画像のUrlを入力してください", autofocus: true %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>