<div class ="contents row">
  <div class="content_post">
       <% if user_signed_in? && current_user.id == @catch_copy.user_id %>
        <div class="more">
          <span><%= image_tag '/arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '編集', "/catch_copies/#{@catch_copy.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/catch_copies/#{@catch_copy.id}", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <span class="title">
        <%= @catch_copy.title %>
      </span>
      <%= image_tag(@catch_copy.image,class: 'image') %>
      <div class="job_category">
        <span>職種：</span>
      </div>
      <%= simple_format(@catch_copy.job_category,class: 'job_name') %>
       <div class="target">
       <span>ターゲット：
       </div>
       </span>
      <%= simple_format(@catch_copy.target,class: 'target_name') %>
  </div>
    <div class="container">
    <% if current_user %>
      <%= form_for( [@catch_copy, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>