<div class ="contents row">
  <div class="content_post" style="background-image: url(<%= @catch_copy.image %>);">
      <span><%= image_tag '/arrow_top.png' %></span>
       <% if user_signed_in? && current_user.id == @catch_copy.user_id %>
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to '編集', "/catch_copies/#{@catch_copy.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/catch_copies/#{@catch_copy.id}", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= simple_format(@catch_copy.job_category ) %>
      <%= simple_format(@catch_copy.target) %>
      <span class="title">
        <%= @catch_copy.title %>
  </div>
    <div class="container">
    <% if current_user %>
      <%= form_for( [@catch_copy, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>